:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-2);
  height: var(--size-9);
}
