:host {
  --color-box-color: var(--kantega-red);
  --color-box-size: calc(var(--size-px-9) * 5);
}

.color-box {
  display: inline-block;
  justify-items: center;
}

.color-square {
  width: var(--color-box-size);
  height: var(--color-box-size);
  display: block;
  background-color: var(--color-box-color);
  margin-block-end: var(--size-1);
}

.color-name {
  font-size: var(--font-size-0);
  font-style: italic;
}
