@layer reset, base;

@import 'open-props/colors';
@import 'open-props/sizes';
@import 'open-props/shadows';
@import 'open-props/fonts';
@import 'open-props/colors';

:root {
  --kantega-red: #ee3a64;
  --kantega-red-light: #ff507e;
  --kantega-red-dark: #d3335e;

  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  a {
    color: var(--purple-7);
    cursor: pointer;
    text-decoration: underline;
  }
}
