@layer reset, base;

@import 'open-props/colors';
@import 'open-props/sizes';
@import 'open-props/shadows';
@import 'open-props/fonts';
@import 'open-props/colors';
@import 'open-props/borders';

:root {
  --kantega-red: #ee3a64;
  --kantega-red-light: #ff507e;
  --kantega-red-dark: #d3335e;

  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  html,
  body {
    height: 100%; /* ensure the body takes full height */
    /*margin: 0; /* remove default margins */*/
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr;
    /*height: 100vh;*/
    /*margin: 0;
    position: relative;*/
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-2);
    height: var(--size-9);
  }

  main {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .color-palette {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .color-palette > div {
    flex: 1;
    min-width: 0;
  }

  /* Example colors for the color bands */
  .color-palette > div:nth-child(1) {
    background-color: var(--red-5);
  }
  .color-palette > div:nth-child(2) {
    background-color: var(--orange-5);
  }
  .color-palette > div:nth-child(3) {
    background-color: var(--yellow-5);
  }
  .color-palette > div:nth-child(4) {
    background-color: var(--lime-5);
  }
  .color-palette > div:nth-child(5) {
    background-color: var(--green-5);
  }
  .color-palette > div:nth-child(6) {
    background-color: var(--cyan-5);
  }
  .color-palette > div:nth-child(7) {
    background-color: var(--blue-5);
  }
  .color-palette > div:nth-child(8) {
    background-color: var(--indigo-5);
  }
  .color-palette > div:nth-child(9) {
    background-color: var(--violet-5);
  }
  .color-palette > div:nth-child(10) {
    background-color: var(--pink-5);
  }

  a {
    color: var(--purple-7);
    cursor: pointer;
    text-decoration: underline;
  }
}
